startup_commands toggle_custom_color
custom_color_contrast 0.3

check_for_updates_on_startup	0
use_legacy_keybinds 0

font_size 22
ui_font "Iosevka"
status_bar_font_size 22
status_font "Iosevka"
zoom_inc_factor 1.2

custom_background_color #141415
custom_text_color #cdcdcd

page_separator_color #141415
status_bar_color #141415
status_bar_text_color #cdcdcd
search_highlight_color #252530
ui_text_color #cdcdcd
ui_selected_text_color #cdcdcd
ui_background_color #1c1c24
ui_selected_background_color #252530
background_color #141415
visual_mark_color 0.32156863 0.28627451 0.30588235 0.2
text_highlight_color #252530
link_highlight_color #6e94b2
synctex_highlight_color #d8647e
